* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
}



/* ------ HEADER ------ */

header {
    width: 100vw;
    height: 100px;
    background-color: rgb(219, 206, 206);
    color: #000000;
    text-align: center;
    padding-top: 30px;
}


section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 4%;
    width: 100vw;
    height: 100vh;
    gap: 40px;
    background-color: #f4f4f4;
}

/* ------ MAIN VIEW ------ */


.main-view {
    background-color: rgb(126, 152, 175);
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4%;
    box-shadow: 0 0.5em 0.5em -0.4em #626060;
    transform: translateY(-0.15em);
}

.filters {
    padding-bottom: 10px;
    display: flex;
    gap: 20px;
}

.status-filter,
.order-filter {
    width: 15vw;
    padding: 3px;
    height: 30px;
    border-radius: 3px;
    border: none;
    outline: none;
}

.todolist {
    height: 55vh;
    width: 95%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
}

.column-date {
    background-color: rgb(174, 186, 190);
    width: 10%;
    height: 100%;
}

.column-titles {
    background-color: rgb(44, 99, 117);
    width: 60%;
    height: 100%;
}

.column-status {
    background-color: rgb(144, 185, 199);
    width: 15%;
    height: 100%;
    text-align: center;
}

.column-btn {
    background-color: rgb(72, 170, 203);
    width: 15%;
    height: 100%;
    text-align: center;
}






/* ------ CREATE VIEW ------ */


.create-view {
    background-color: rgb(195, 186, 186);
    width: 25vw;
    padding: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4%;
    box-shadow: 0 0.5em 0.5em -0.4em #626060;
    transform: translateY(-0.15em);
}

h2 {
    margin: 20px 0px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}


.form-inputs {
    display: flex;
    flex-direction: column;
}

.form-title,
.form-status {
    width: 20vw;
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 2px;
    height: 30px;
    border-radius: 3px;
    border: none;
    outline: none;

}

.label-status {
    margin-top: 30px;
}

.btn-submit {
    width: 10vw;
    padding: 5px;
    margin-top: 60px;
    margin-bottom: 2px;
    height: 30px;
    border-radius: 3px;
    border: none;

}

.div-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date {
    display: none;
}

.contain-modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.775);
    top: 0;
    display: block;
    opacity: 100%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;


}

.modal {
    height: 48vh;
    width: 26vw;
    background-color: rgb(226, 224, 224);
    padding: 20px;
    border-radius: 4%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.close-modal {
    border: none;
    cursor: pointer;
    align-self: flex-end;
    font-size: medium;
    font-weight: 600;
}